<link rel="stylesheet" href="/css/style.css">

<header>
    <nav>
        <a id="logo-container" href="/">
            <img src="/img/shopynet-logo.webp" alt="ShopyNet logo">
            <span>ShopyNet</span>
        </a>
        <div id="nav-buttons">
            <button id="user-button"><a href="/login"><i class="fa-solid fa-user" style="color: #000000;"></i></a></button>
            <button id="cart-button"><i class="fa-solid fa-cart-shopping" style="color: #000000;"></i></button>
        </div>
    </nav>
</header>

<div id="cart-container" class="hidden" data-aos="fade-left" data-aos-duration="800">
    <h2 class="cart-title">Carrito de Compras</h2>
    <div id="cart-items"></div>
    <p>Total: $<span id="cart-total">0</span></p>
    <button id="clear-cart">Vaciar Carrito</button>
</div>

<section id="section-products-detail">

    <div id="detail-container" class="product-card">
        <img src="{{product.thumbnail}}" alt="{{product.title}}">
        <div id="detail-info">
            <h1>{{product.title}}</h1>
            <p>{{product.description}}</p>
            <p>Stock: {{product.stock}}</p>
            <div id="prices-container">
                <p id="price">$ {{product.price}}</p>
                <div id="discount-container">
                    <p id="discount">$ {{discount}}</p><p id="asside-discount">%15 OFF</p>
                </div>
            </div>
            <button class="add-cart-button">Agregar al carrito</button>
        </div>
    </div>

    <a id="back-to-home" href="/">Volver a la tienda</a>

</section>

<script type="module" src="/js/home.js"></script>